<!DOCTYPE html>
<html>
	<head>
		<title>IC Schedule | {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="../static/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'baseStyle.css')}}" type="text/css">
    </head>
    <body>
        <div id="wrapper">

            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand"><a href="#">IC SCHEDULE DEMO v0.2</a></li>
                    <li><a href="#">Course Resources</a></li>
                    <li><a href="#">How it Works</a></li>
                    <li><a href="/">Sign Out</a></li>
                </ul>
            </div>

            <div id="page-content-wrapper">
                <nav class="navbar subNav sharp" style="z-index:1000">
                    <div class="navbar-header">
                        <a href="#menu-toggle" id="menu-toggle">
                            <img alt="Brand" src="{{ url_for('static', filename = 'img/glyphicons-menu-hamburger.png')}}">
                        </a>
                    </div>
                    <div class="container">
                        <ul class="nav nav-tabs">
                            <li role="presentation" class="active"><a href="#about"><p>class</p></a></li>
                            <li role="presentation"><a href="#courseresources"><p>event</p></a></li>
                            <li role="presentation"><a href="/index"><p>schedule</p></a></li>
                        </ul>
                    </div>
                </nav>

                <div class="full container-fluid" style="background-color: #f8f8f8; padding-top:2%">
                    <div class="row" id="searchView" style="display: none">
                        <div class= "col-md-6 col-md-offset-3 " style="position: absolute; padding-bottom:1%; padding-top:15%;" >
                            <div class="input-group" >
                                <input type="text" class="form-control" placeholder="Search for...">
                                    <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Go!</button>
                                    </span>
                            </div><!-- /input-group -->
                        </div>
                    </div>
                {% block classContent %}

                    <div class="row" id="listView" >
                    {% block depNav %}
                        <div class="no-float" style="display:table-cell; width: 5%">
                            <ul class="sideLetter text-center" style="padding: 0px;">
                                <li><a href="#A">A</a></li>
                                <li><a href="#B">B</a></li>
                                <li><a href="#C">C</a></li>
                                <li><a href="#D">D</a></li>
                                <li><a href="#E">E</a></li>
                                <li><a href="#F">F</a></li>
                                <li><a href="#G">G</a></li>
                                <li><a href="#H">H</a></li>
                                <li><a href="#I">I</a></li>
                                <li><a href="#J">J</a></li>
                                <li><a href="#L">L</a></li>
                                <li><a href="#M">M</a></li>
                                <li><a href="#O">O</a></li>
                                <li><a href="#P">P</a></li>
                                <li><a href="#R">R</a></li>
                                <li><a href="#S">S</a></li>
                                <li><a href="#T">T</a></li>
                                <li><a href="#W">W</a></li>
                            </ul>
                        </div>
                    {% endblock %}

                    {% block dept_content %}
                        <div class="col-md-3  no-float" style="overflow: auto; display: table-cell; background: white; height: 100%; padding-left: 0px; padding-right: 0px;">
                            <div class="innertube">
                                 <ul style="padding: 0px; width:100%; position:absolute;">
                                    {% for dept in depts %}
                                        <li><button class="btn bc2 btn-block sharp" type="button" onclick="getJs({{dept.id}})">{{dept.name}}</button></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endblock %}

                        <div style="width: 1%; display: table-cell">
                        </div>

                    {% block course_content %}
                        <div class="col-md-7 no-float" style="display: table-cell; background: white; overflow: auto; height: 100%; padding-left: 0px; padding-right: 0px;">
                            <div class="innertube">
                                 <ul id="courseList" style="padding: 0px; width:100%; position:absolute">
{#                                     {% for course in courses %}#}
{#                                        <li><button class="btn bc btn-block " type="button" data-toggle="modal" data-target="#c{{ course.id }}">{{ course.name }}</button></li>#}
{#                                     {% endfor %}#}

                                </ul>
                            </div>
                        </div>

                        <div id="sectionListModal">
                        </div>


                    {% endblock %}

                        <div class="col-md-3" style=" display: table-cell">
                        </div>
                    </div><!--End of row-->

                    <div id="tab" class="col-md-offset-11 col-md-1">
                        <!--<button type="button" class="btn btn-success btn-block">Search</button>-->
                          <h5 class="text-center">Mode</h5>
                    </div>
                {% endblock %}

                </div><!--End of full inner -->
            </div><!--End of paper context wrapper -->
        </div><!--End of wrapper-->


        <div id="slideout" class="col-md-offset-8 col-md-3 col-sm-12">
                <div id="slideoutTab">
                    <h5 class="text-center">Course Cart</h5>
                </div>
                <div id="slideoutinner">
                     <ul>
                         <li><p>test</p></li>
                         <li><p>test</p></li>
                         <li><p>test</p></li>
                         <li><p>test</p></li>
                         <li><p>test</p></li>
                         <li><p>test</p></li>
                         <li><p>test</p></li>
                         <li><p>test</p></li>
                         <li><p>test</p></li>
                         <li><p>test</p></li>
                         <li><p>test</p></li>
                         <li><p>test</p></li>
                         <li><p>test</p></li>
                         <li><p>test</p></li>
                         <li><p>test</p></li>
                     </ul>
                </div>
        </div>

        <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
        <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
        <script type="text/javascript" src="../static/bootstrap.min.js"></script>
        <script type="text/javascript" src="../static/base.js"></script>
    </body>
</html>