{% extends "base.html" %}

{% block course_content %}
    {% for schedules in sch.sched_list %}
        <div class="hark-a-schedule">
        {% for section in schedules %}
            <p>
                <b>{{ section.prof }}, CRN {{ section.crn }}</b>
                <ul>
                {% for time in sch.sdict[section] %}
                    <li>{{ time.timeStart }}-{{ time.timeEnd }} on day {{ time.day }}</li>
                {% endfor %}
                </ul>
            </p>
        {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
